* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

#sidebar {
  flex: 1 1 20%;
  padding: 25px;

  h2 {
    margin-bottom: 25px;
    text-align: center;
  }

  #project-list {
    .project-container {
      display: flex;
      align-items: center;
      justify-content: center;

      p { margin: 10px 15px 10px 0; }
    }
  }

  #new-project-form {
    #new-project-title, #add-project-btn {
      display: block;
      margin: 5px auto;
    }
  }
}

#display-project-container {
  flex: 1 1 80%;
  padding: 0 30px;

  h2 {
    margin: 25px 0 30px;
    text-align: center;
  }

  #new-todo-container {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto 20px;
    padding: 10px;
    border: 1px solid #000;
    
    div {
      flex: 1 1 33%;
      margin-bottom: 8px;

      p {
        text-align: center;
      }

      input, select {
        display: block;
        margin: 0 auto;
      }
    }

    #add-todo-btn {
      margin: 10px auto 0;
    }
  }

  #todos-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .todo-container {
    flex-basis: 22.5%;
    position: relative;
    height: 100%;
    margin: 1.25%;
    padding: 35px 25px 10px;
    border: 1px solid #000;
    
    .title {
      margin-bottom: 15px;
      font-weight: 800;
      text-align: center;
    }

    .due-date {
      position: absolute;
      top: 8px;
      left: 8px;
      font-size: 0.8rem;
    }

    .description, .notes, .completed {
      display: none;
      padding: 5px 0;
      font-size: 0.9rem;
      text-align: center;
    }

    .notes {
      font-style: italic;
    }

    input {
      width: 70%;
      margin: 5px auto;
      padding: 5px 10px;
      font-size: 0.8rem;
      text-align: center;

      &.due-date {
        width: 40%;
        font-size: 0.6rem;
      }
      
      &.description, &.notes, &.completed {
        width: 80%;
        font-size: 0.7rem;
      }
    }
    
    .edit-todo-btn {
      position: absolute;
      top: 5px;
      right: 10px;
    }

    .expand-todo-btn {
      display: block;
      margin: 0 auto;
      padding: 0 40%;
    }

    .collapse-todo-btn {
      display: none;
      margin: 0 auto;
      padding: 0 40%;
    }
  }
}